.App {
  text-align: center;
}
.body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px;
    background: url("/Images/blue_wish_background.jpg") no-repeat center;
    background-size: cover;
    color: rgb(3, 57, 109);
  }

.App-logo {
  height: 40vmin;
}

.header {

  text-align: center;
  font-size: 25pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

priority {
  text-align: center;
}
.App-link {
  color: #09d3ac;
}
