.App {
  text-align: center;
}
body, html {
  height: 100%;
  background-image: url("./Images/blue_wish_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
taskRow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid blue;
}
  
  .container {
    /*display: flexbox;*/
    flex-direction: column;
    justify-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 2px;
  }


header {

  text-align: center;
  font-size: 25pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

priority {
  text-align: right;
}
.App-link {
  color: #09d3ac;
}
